// Font sizes
$standard_font_size_sm: 16px;
$standard_font_size_xl: 17px;

// Font weights
$regular_font_weight: 400;
$medium_font_weight: 500;
$semi_bold_font_weight: 600;

// Colors
$primary_color: rgb(0, 0, 0);
$secondary_color: rgb(255, 255, 255);

// Widths
$max_content_width_xl: 1060px;

// Spacing
$content_padding_sm: 24px;
$content_padding_md: 48px;
$content_padding_xl: 48px;

// Other
$light_opacity: 0.87;
